@charset "utf-8";

@import url("font.css");
@import url("reset.css");

/* 
SUMMARY :

01 LAYOUT
02 GLOBAL
03 HEADER
04 FOOTER
05 POPUP
06 SCROLL TOP 
*/

/* layout */

html, body {width:100%;height:100%}
#wrap {position:relative;width:100%;min-height:100%}
#container {width:100%}
*html #container {height:100%}
.content {min-height:calc(100vh - 173px);padding-bottom:146px}
#footer {position:relative}

/* global */

.blind {overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;clip:rect(0 0 0 0)}

/* icon */

.ico {display:inline-block;background-image:url(../img/common/sp_common.png);background-repeat:no-repeat;vertical-align:middle}

/* float */

.f_l {float:left !important}
.f_r {float:right !important}

.clearfix:after {display:block;clear:both;content:''}
.clearfix .f_l {width:50%}
.clearfix .f_r {width:50%}

/* width */

.wf80 {width:80px}
.wf100 {width:100px}
.wf120 {width:120px}
.wf150 {width:150px}
.wf180 {width:180px}
.wf200 {width:200px}
.wf300 {width:300px !important}

.w3 {width:3%}
.w10 {width:10% !important}
.w15 {width:15% !important}
.w17 {width:17% !important}
.w18 {width:18% !important}
.w20 {width:20% !important}
.w22 {width:22% !important}
.w24 {width:24%}
.w25 {width:25%}
.w30 {width:30% !important}
.w35 {width:35% !important}
.w40 {width:40% !important}
.w46 {width:46% !important}
.w50 {width:50%}
.w54 {width:54% !important}
.w55 {width:55% !important}
.w58 {width:55% !important}
.w60 {width:60% !important}
.w70 {width:70% !important}
.w75 {width:75%}
.w80 {width:80% !important}
.w90 {width:90%}
.w99 {width:99%}
.w100 {width:100% !important}

/* margin */

.mt10 {margin-top:10px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mt70 {margin-top:70px !important}

/* heading */

.h_t1 {position:relative;margin-bottom:15px;font-size:26px;font-weight:400;color:#111;line-height:32px}
.h_t2 {position:relative;margin-bottom:15px;font-size:20px;font-weight:300;color:#000;line-height:27px}
.h_t4 {position:relative;margin:40px 0 20px;font-size:18px;font-weight:300}

/* txt */

.txt_flow {display:inline-block}
.txt_t1 {font-size:16px;font-weight:300;color:#333;line-height:26px;letter-spacing:-0.8px}
.txt_t3 {font-size:16px;font-weight:300;color:#e51937;line-height:22px;letter-spacing:-0.8px}
.txt_t4 {font-size:14px;font-weight:300;color:#333;line-height:22px;letter-spacing:-0.5px}

/* align */

.a_l {text-align:left !important}
.a_c {text-align:center !important}
.a_r {text-align:right !important}

/* video */

.youtubeWrap {position:relative;width:100%;padding-bottom:56.35%;text-align:left}
.youtubeWrap iframe {position:absolute;width:100%;height:100%}

/* skip */

#skip_navi {height:0}
#skip_navi a {position:absolute;top:-9999px;z-index:10000;width:100%;height:30px;background-color:#000;font-weight:600;color:#fff;text-align:center;line-height:30px;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60)}
#skip_navi a:hover,
#skip_navi a:focus,
#skip_navi a:active {top:0;color:#fff}

/* header */

#header .h_group {overflow:visible;position:fixed;top:0;left:0;z-index:999;width:100%;height:91px;background-color:transparent}
#header .h_group:before {content:"";position:absolute;top:91px;left:0px;width:100%;height:1px}
#header .h_group > div {position:relative;max-width:1200px;height:91px;margin:0 auto}
#header .h_group > div h1 {position:absolute;top:21px;left:0;width:101px;height:46px}
#header .h_group > div h1 a.logo {display:block;width:101px;height:46px;background:url(../img/common/logo.png) no-repeat;background-size:101px 46px}

#header .h_group.menu_hover,
#header .h_group.affix {border-bottom:1px solid #4b4c4f}

#header .h_group.menu_hover > div h1 span,
#header .h_group.affix > div h1 span {color:#444}

#header .h_group.menu_hover:before {content:'';display:block;position:absolute;top:91px;left:0;width:100%;height:1px;background-color:#eaeaea}

/* */

#header .h_group.sub {/* border-bottom:1px solid #4b545b */}

#header .h_group.privacy,
#header .h_group.affix {border-bottom:1px solid #e8e8e8;background:#fff !important}

#header .h_group.privacy #gnb > .box > ul > li > a,
#header .h_group.affix #gnb > .box > ul > li > a {color:#444 !important}

#header .h_group.privacy #gnb > .box > ul > li > a:hover,
#header .h_group.privacy #gnb > .box > ul > li > a:focus,
#header .h_group.affix #gnb > .box > ul > li > a:hover,
#header .h_group.affix #gnb > .box > ul > li > a:focus {color:#cc3946 !important}

#gnb {position:absolute;left:50%;margin-left:-370px;padding:25px 0 0}
#gnb .btn_menu {display:none;overflow:hidden;position:absolute;top:34px;right:20px;width:32px;height:20px;background:url(../img/common/btn_menu.png) no-repeat;background-size:32px 20px !important;text-indent:-999em}

.h_group.privacy #gnb .btn_menu,
.h_group.affix #gnb .btn_menu {background:url(../img/common/btn_menu_on.png) no-repeat}

#gnb .btn_close {display:none;overflow:hidden;position:absolute;top:39px;right:23px;z-index:1000;width:26px;height:26px;background:url(../img/common/btn_close.png) no-repeat;background-size:26px 26px !important;text-indent:-999em}

#gnb > .box {display:block}
#gnb > .box > ul:after {display:block;clear:both;content:''}
#gnb > .box > ul > li {position:relative;float:left;width:154px;text-align:center}
#gnb > .box > ul > li > a {display:block;position:relative;padding:7px 0;font-size:18px;font-weight:300;color:#fff;cursor:pointer}
#gnb > .box > ul > li > a:after {content:'';position:absolute;top:64px;left:50%;width:0;height:2px;background:#222;-ms-transform:translate(-50%,0);-webkit-transform:translate(-50%,0);transform:translate(-50%,0);transition:.4s ease-in-out}
#gnb > .box > ul > li.on > a:after {width:50%}
#gnb > .box > ul > li.current > a,
#gnb > .box > ul > li > a:hover,
#gnb > .box > ul > li > a:focus {color:#cc3946}

#gnb > .box > ul > li > .sub_menu {display:none;position:absolute;top:70px;left:0;width:160px;max-height:0;padding:22px 0}
#gnb > .box > ul > li > .sub_menu > ul > li {margin:0 0 6px 0}
#gnb > .box > ul > li > .sub_menu > ul > li > a {display:inline-block;position:relative;color:#444;font-size:15px;font-weight:300 !important;line-height:28px;letter-spacing:-0.1px}
#gnb > .box > ul > li > .sub_menu > ul > li > a:hover,
#gnb > .box > ul > li > .sub_menu > ul > li > a:focus {}

#gnb > .box > ul > li > .sub_menu > ul > li > a:after {content:'';position:absolute;top:1.7rem;left:0;width:0;height:1px;background:#222;-webkit-transition:all 250ms ease-out;-moz-transition:all 250ms ease-out;-ms-transition:all 250ms ease-out;-o-transition:all 250ms ease-out;transition: all 250ms ease-out}
#gnb > .box > ul > li > .sub_menu > ul > li > a:hover:after {width:100%}

/* util menu */

#header .util_menu {position:absolute;top:38px;right:0;z-index:10}
#header .util_menu > a {font-size:14px;font-weight:300;color:#fff}
#header .util_menu > a + a {position:relative;margin:0 0 0 20px}
#header .util_menu > a + a:before {content:"";position:absolute;left:-11px;top:5px;width:1px;height:12px;background:#dbdbdb}
/* #header .util_menu > a + a:after {content:"";position:absolute;left:-12px;top:-7px;width:1px;height:12px;width:21px;height:21px;font-size:0;background-image:url(../img/common/sp_common.png);background-position:-120px -5px} */

#header .list_global.mobile {display:none}

#header .util_menu ul li {display:inline-block;margin:0 10px 0}
#header .util_menu ul li a {font-size:14px;font-weight:300;color:#fff}

/* */

.pop_global {display:none;position:fixed;top:0;left:0;z-index:10000;width:100%}
.pop_global .inner {position:relative;max-width:1200px;width:100%;margin:0 auto}
.pop_global .inner .pos {position:absolute;top:61px;right:0;width:105px;text-align:center;line-height:32px}
.pop_global .ico_arrow {display:block;width:100%;height:29px;background: url(../img/common/ico_global_arrow.png) center center no-repeat}
.pop_global .ly_inner {padding:10px 0;background:#fff}

.pop_global .list_global a {color:#51555d}
.pop_global .list_global .on a {color:#dc2141;text-decoration:underline}
.pop_global .pop_close {display:inline-block;position:absolute;top:29px;right:-22px;width:22px;height:22px;background:url(../img/common/btn_x.png) no-repeat 0 0;text-indent:-99999px}

/* */

#header .h_group.menu_hover .util_menu > a,
#header .h_group.privacy .util_menu > a,
#header .h_group.affix .util_menu > a {color:#444}

#header .h_group.menu_hover .util_menu > a + a:after,
#header .h_group.privacy .util_menu > a + a:after,
#header .h_group.affix .util_menu > a + a:after {background-position:-146px -5px}

/* footer */

#footer {position:absolute;bottom:0;width:100%;height:146px;padding:40px 0;background-color:#232323;color:#acacac}
#footer .inner {position:relative;max-width:1200px;margin:0 auto}

#footer .logo {position:absolute;top:15px;left:0;width:101px;height:46px;background-position:-5px -61px}
#footer .inner p.address {position:absolute;top:20px;left:180px;font-size:12px;font-weight:300;color:#b7b6b6}

#footer .inner ul.add {position:absolute;top:20px;right:380px}
#footer .inner ul.add li {display:inline;position:relative;padding:0 11px;font-size:12px}
#footer .inner ul.add li:first-child {padding:0 11px 0 0}
#footer .inner ul.add li .bar {position:absolute;left:-2px;top:50%;height:10px;width:1px;margin-top:-4px;background-color:#404040}
#footer .inner ul.add li a {color:#757575}
#footer .inner ul.add li a:hover {color:#fff;/* text-decoration:underline; */-webkit-transition:color 0.15s ease-in-out;transition:color 0.15s ease-in-out}

#footer .inner a.inquiry {display:block;position:absolute;top:15px;right:300px;padding:5px 15px;border:1px solid #828282;font-size:12px;font-weight:300;color:#b7b6b6;letter-spacing:-0.2px;border-radius:20px}

/* */

.family {position:absolute;right:0px;top:13px;margin:0 35px 0 0}
.family:after {display:block;clear:both;content:''}

.family .f_btn {float:left;width:135px;height:32px;margin:0 7px 0 0;padding:0 0 0 15px;border:1px solid #828282;background:#323232 url(../img/common/ico_up.png) no-repeat 110px center;font-size:12px;color:#999;line-height:32px}
.family .f_btn.open {background:#323232 url(../img/common/ico_down.png) no-repeat 110px center}

.lst_site {display:none;float:left;position:absolute;left:0px;bottom:36px;width:135px;border:1px solid #828282;background-color:#323232}
.lst_site li {line-height:34px}
.lst_site li a {display:block;padding:0 0 0 15px;font-weight:300;color:#fff} 

.family .submit {display:inline-block;float:right;width:49px;height:32px;border:1px solid #828282;background-color:transparent;font-size:13px;font-weight:300;color:#fff;text-align:center;line-height:32px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}

.family .submit:hover,
.family .submit:focus {border:1px solid #fff;background-color:#fff;color:#333;text-decoration:none} 

/* popup */

.dialog {position:relative;max-width:1000px;margin:40px auto;text-align:center}
#inquiry_dialog {max-width:700px}

.modal_box {position:relative;padding:40px 50px;border:1px solid #e93d25;background:#fff}
.modal_header {text-align:left}
.modal_header h3 {display:block;overflow:hidden;width:90%;font-size:24px;font-weight:500;color:#222;text-align:left;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.modal_header span {display:block;margin:30px 0;font-size:18px;font-weight:300}

.article_content {padding:30px 0 0;border-top:1px solid #ccc;font-size:14px;font-weight:300;text-align:left;color:#666}

.mfp-content .mfp-close {top:20px;right:20px;width:23px;height:23px;background:url(../img/common/popup_close.png) no-repeat;background-size:23px;-webkit-transition:-webkit-transform 1s cubic-bezier(.075,.82,.165,1);transition:-webkit-transform 1s cubic-bezier(.075,.82,.165,1);transition:transform 1s cubic-bezier(.075,.82,.165,1);transition:transform 1s cubic-bezier(.075,.82,.165,1), -webkit-transform 1s cubic-bezier(.075,.82,.165,1)}
.mfp-content .mfp-close:hover{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}

/* scroll top */

.btn_top {display:none;position:fixed;right:20px;bottom:70px;z-index:10000;width:50px;height:45px;border:1px solid #dbdbdb;background:#fff url(../img/common/sp_common.png) no-repeat -678px -5px;opacity:0;-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.btn_top.show {opacity:1}

.btn_top span {display:block;text-indent:-9999px}

/* media query */

@media (max-width: 1200px) {

	/* layout */

	#container {min-width:100%}
	body.home .content {padding-bottom:194px}
	.content {padding-bottom:190px}

	/* header */

	#header .h_group {height:75px !important;border-top:0}
	#header .h_group:before {top:75px}
	#header .h_group > div {max-width:100%;height:75px;padding:0 20px}

	#header .h_group > div h1 {top:14px;left:20px}

	#gnb {position:static}
	#gnb .btn_menu,
	#gnb .btn_close {display:block;top:30px}

	#gnb > .box {display:none;position:absolute;top:-5px;right:-80%;z-index:20;width:80%;padding-bottom:2px}
	#gnb > .box > ul {display:inline-block;width:100%;padding-top:80px;background:#cc3946}
	#gnb > .box > ul > li {overflow:hidden;float:none;width:100%;height:auto;background:#fff;border-bottom:1px solid #e8e8e8;text-align:left}
	#gnb > .box > ul > li:first-child {border-top:1px solid #d7d7d7}
	#gnb > .box > ul > li > a {padding:22px 30px;background:url(../img/common/bu_down.png) no-repeat center right 30px;-webkit-background-size:16px;background-size:16px;color:#333 !important}
	#gnb > .box > ul > li > a:after {display:none}

	#gnb > .box > ul > li.current > a {background:url(../img/common/bu_up.png) no-repeat center right 30px;-webkit-background-size:16px;background-size:16px;color:#71af42}
	#gnb > .box > ul > li > a:hover,
	#gnb > .box > ul > li > a:focus {color:#cc3946 !important}

	#gnb > .box > ul > li > .sub_menu {position:relative;top:0px;width:100%;padding:0;border-bottom:none;-webkit-transition:max-height 0.6s ease-in-out;-moz-transition:max-height 0.6s ease-in-out;-ms-transition:max-height 0.6s ease-in-out;-o-transition:max-height 0.6s ease-in-out;transition:max-height 0.6s ease-in-out;transform:translate3d(0px, 0px, 0px)}
	#gnb > .box > ul > li > .sub_menu > ul {/* display:none; */float:none;margin-left:0;padding:13px 0;background:#f5f5f5}
	#gnb > .box > ul > li > .sub_menu > ul > li {float:none;width:auto;margin:0 !important;background:#f5f5f5}
	#gnb > .box > ul > li > .sub_menu > ul > li:first-child {margin-left:0}

	#gnb > .box > ul > li > .sub_menu > ul > li > a {display:block;height:40px;padding-left:30px;color:#444;line-height:40px}
	#gnb > .box > ul > li > .sub_menu > ul > li > a:hover,
	#gnb > .box > ul > li > .sub_menu > ul > li > a:focus {background:#f5f5f5;color:#cc3946}

	#gnb > .box > ul > li > .sub_menu > ul > li > a:after {display:none}

	#gnb > .box > ul > li.current > .sub_menu {max-height:300px}

	/* util menu */

	#header .util_menu {display:inline-block;top:31px;right:68px}
	#header .util_menu > a {display:none}

	#header .list_global.mobile {display:inline-block}

	#header .util_menu ul li {margin:0 6px}

	#header .h_group.menu_hover .util_menu ul li a,
	#header .h_group.affix .util_menu ul li a {color:#333}

	.pop_global {display:none !important}
	
	/* footer */

	#footer {height:194px;padding:30px 0 50px;border-top:0}
	#footer .inner {width:100%;padding:15px 0 0}

	#footer .logo {display:none}
	#footer .inner p.address {position:relative;top:50px;left:0;text-align:center}

	#footer .inner ul.add {display:none;width:100%;margin-top:60px;padding:0 20px;text-align:center}
	#footer .inner ul.add li {display:inline-block;width:auto;padding:0 20px;font-size:13px;text-align:center}

	#footer .inner a.inquiry {display:none;position:relative;top:70px;right:0;width:100px;margin:0 auto;text-align:center}

	.family {display:block;position:inherit;top:-35px;width:192px;margin:0 auto}
	.family .submit {float:none;margin:0 auto}

}

@media (max-width: 1024px) {

	/* global */

	.m_hide {display:none !important}

	/* width */

	.m_w18 {width:18% !important}
	.m_w20 {width:20% !important}
	.m_w24 {width:24% !important}
	.m_w30 {width:30% !important}
	.m_w70 {width:70% !important}

	/* popup */

	.dialog {max-width:100% !important}
	#inquiry_dialog {width:auto}

	.modal_box {padding:40px 30px}
	.modal_header h3 {font-size:18px}
	.modal_header span {margin:20px 0;font-size:14px}

	.article_content {font-size:13px}

	.mfp-content .mfp-close {width:15px;height:15px;background-size:15px}

	.mfp-close {top:22px !important}
	.mfp-close:active {top:22px !important}

}

@media (max-width: 480px) {

	/* footer */

	#footer .inner ul.add li {padding:0 7px}
	#footer .inner ul.add li:first-child {padding:0 7px 0 0}

}